.sideBar{
    width: 15%;
    overflow:scroll;
    height: auto;
}
body{
    overflow: hidden;
}
html {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    }
    ​
    html::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
    }
    
.dataContent{

    margin-top: 2rem;
    
/* margin-left: mrem; */
}
.dataContent h1{
    margin-left: 2rem;
    font-weight: bolder;
}
.dataContent h5{
    font-weight: bolder;
    font-size: 16px;
}
.Card{
    border: none;
    display: flex;
    margin-left: 4rem;
    margin-top: 3rem;
    width: 55%;
}
.ren{
    width: 70rem;
    width: 100%;
    overflow-y: scroll;
    height: 86vh;
}
/* .ren{
    overflow-y: scroll;
    height: 100vh;
} */
.Card img{
    margin-right: 1rem;
    margin-top: 0.6rem;
    width: 3rem;
}
span{
    color: grey;
    font-weight: 600;
    font-size: 14px;
    margin-left: 1rem;
}
.thread{
   
    
    margin-left: 2rem;
    /* margin-right: 29rem; */
    /* width: 2rem; */
    width: 33rem;

}
.threadmess {
    margin-top: 1rem;
    margin-left: 4rem;
}
.ThreadBtn{
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}
.ThreadBtn:hover{
    background-color: rgb(182, 212, 250);
    border-radius: 4px;
}

.Categories h1{
    margin-left: 3rem;
    margin-top: 3rem;
}
.routeTiles{
    margin-left: 6rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.routeTiles .card{
    font-weight: bolder;
    padding: 1.5rem 1rem;
    font-size: 18px;
    font-weight: bolder;
}
.card{
    width: 30rem;
}
.routeTiles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.card a{
    text-decoration: none;
    color: #000000;
}
.message{
    width: 50rem;
}
#cardBody{
    display: flex;
}
#searchBar{
    width: 30rem;
    margin-left: 10rem;
    height: 3rem;
}
.archive{
    display: flex;
}
.messageBundle{
    margin-top: 8rem;
}
.btn{
    height: 3rem;
}