.sideBar{
    width: 15%;
    overflow:scroll;
    height: auto;
}
body{
    overflow: hidden;
}
html {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    }
    ​
    html::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
    }
    
.dataContent{

    margin-top: 2rem;
/* margin-left: mrem; */
}
.dataContent h1{
    margin-left: 20rem;
    font-weight: bolder;
}
.dataContent h5{
    font-weight: bolder;
    font-size: 16px;
}
.Card{
    border: none;
    display: flex;
    margin-left: 16rem;
    width: 55%;
}
.ren{
    width: 70rem;
    overflow-y: scroll;
    height: 86vh;
}
/* .ren{
    overflow-y: scroll;
    height: 100vh;
} */
.Card img{
    margin-right: 1rem;
    margin-top: 0.6rem;
    width: 3rem;
}
span{
    color: grey;
    font-weight: 600;
    font-size: 14px;
    margin-left: 1rem;
}
.thread{
   
    
    margin-left: 2rem;
    /* margin-right: 29rem; */
    /* width: 2rem; */
    width: 33rem;

}
.threadmess {
    margin-top: 1rem;
}